.row{
    margin-top: 30px;
}

.carousel-item{
    margin-top: 30px;
    max-height: 90%;
}
.bottom{
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 20px;
    background-color: rgb(34, 34, 34);
    margin-top: 30px;
    text-align: center;
    color: white;
    position: sticky;
}
.text{
    text-align: center;
    margin-top: 20px;
}
.col{
    margin-left: 115px;
}

body{
    background-color: rgb(187, 187, 187);
    color: rgb(34, 34, 34);
}

.navbar{
    background-color: rgb(247, 113, 184);
}