
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MOHTORS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Motos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Serviços</a></li>
              <li><a class="dropdown-item" href="#">Competir</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/Elite-125-vermelha.webp?itok=qxVh5MN0" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/PCX-prata.webp?itok=qSeAEWZ6" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2022-03/Honda-adv-vermelha.webp?itok=1-7R5AW8" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src= "https://www.honda.com.br/motos/sites/hda/files/2021-08/EixosMotos_0000s_0002_03-PCX-22-LAT.webp" class="img-fluid" alt="...">
        <div class="text">
          <h1>
            Scooter
          </h1>
        </div>
      </div>
       <div class="col">
        <img src="https://www.honda.com.br/motos/sites/hda/files/2021-11/Moto_1920x980_sem_fundo_sombra.webp" class="img-fluid" alt="...">
        <div class="text">
          <h1>
           Sport
          </h1>
        </div>
      </div>
      <div class="col">
        <img src="https://www.honda.com.br/motos/sites/hda/files/2022-03/CG-160-cargo-branca.webp" class="img-fluid" alt="...">
        <div class="text">
          <h1>
           Street
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom"><h6>MOHTORS</h6></div>

  



